* {
  border: 1px solid black;
}

@font-face {
  font-family: "Norse Bold";
  src: url("assets/Norse-Bold.otf") format("opentype");
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: black;
}

main {
  display: flex;
  max-width: 1075px;
  margin: 0 auto;
}

.left {
  display: flex;
  flex: 1.17;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  background: url("assets/ferns.jpg") -60px;
  background-size: cover;
}

.left-overlay {
  display: flex;
  position: absolute;
  top: 170px;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 12, 12, 0.45);
  padding: 10px 0;
}

.left-icon {
  height: 100%;
}

.left-title {
  font-family: "Norse Bold";
  font-size: 4.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
}

.left-photo-credit {
  text-align: center;
  color: white;
  opacity: 0.5;
  font-size: 0.75rem;
}

.left-photo-credit a {
  color: white;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.right-top {
  flex: 1;
  padding: 0 110px 50px 35px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(247, 249, 250);
  color: rgb(9, 9, 9);
  font: bold 1.06rem Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.right p {
  margin: 0;
}

.right-middle {
  height: 33%;
  background-color: white;
}

.right-bottom {
  flex: 1;
  background-color: rgb(247, 249, 250);
}

@media (max-width: 1075px) {
  .main::before,
  .main::after {
    content: "";
    display: block;
  }

  .main::before {
    /* Aspect ratio (1075:764) */
    padding-top: calc((1075 / 764) * 100%);
  }

  .main::after {
    /* Add padding at the bottom (same aspect ratio) */
    padding-bottom: calc((1075 / 764) * 100%);
  }
}
