* {
  border: 1px solid black;
}

@font-face {
  font-family: "Norse Bold";
  src: url("assets/Norse-Bold.otf") format("opentype");
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
  /* background-color: black; */
}

.left {
  display: flex;
  flex: 1.25;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  background-image: url("assets/ferns.jpg");
  background-position: -100px;
  background-repeat: no-repeat;
}

.left-overlay {
  display: flex;
  position: absolute;
  top: 150px;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

.left-icon {
  height: 100%;
}

.left-name {
  font-family: "Norse Bold";
  font-size: 4.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
}

.left-photo-credit {
  text-align: center;
  color: white;
  opacity: 0.5;
  font-size: 0.75rem;
}

.left-photo-credit a {
  color: white;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.right-top {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-middle {
  height: 30%;
}

.right-bottom {
  flex: 1;
}
